body {
  font-family: Arial, sans-serif;
}

h1 span {
  text-transform: uppercase;
  color: hotpink;
}

h3 span {
  text-transform: uppercase;
  color: hotpink;
}

nav a {
  display: block;
  text-decoration: none;
  color: #414141;
  text-transform: uppercase;
  padding: 16px;
  transition: all 300ms;
}

nav a:hover {
  background-color: hotpink;
  color: #ffffff;
}
