body {
  font-family: Arial, sans-serif;
}

h1 span {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;

  a {
    color: #414141;
  }
}

nav a {
  display: block;
  text-decoration: none;
  color: #414141;
  text-transform: uppercase;
  padding: 16px;
  transition: all 300ms;
}

nav a:hover {
  background-color: cadetblue;
  color: #ffffff;
}
.posts {
  background-color: #437071;
  padding: 20px;

  .post {
    display: inline-block;
    box-shadow: 0 2px 6px #000000;
    background-color: white;
    padding: 16px;
    margin: 8px;
  }
}

.tag {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #437071;
  color: white;
  padding: 16px;
}
